<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords"
        content="масаж Тернопіль, Масаж, Тернопіль, Масаж тіла, Тернопіль масаж, масаж Тернопіль ціни, масаж Тернопіль ціна">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- links media quires -->
  <link rel="stylesheet" href="./css/media.css">
  <title>Power Massage</title>
</head>

<body>
<header>
  <nav>
    <div id="sticky" class="container">
      <h1 class="logo"><a href="#" onclick="slowScroll('#about-info')">Power Massage</a></h1>
      <ul>
        <li><a href="#" onclick="slowScroll('#home-info')">Масажі</a></li>
        <li><a href="#" onclick="slowScroll('#slider-photo')">Галарея</a></li>
        <li><a href="#" onclick="slowScroll('#contact-info')">Контакти</a></li>
        <li><a href="#" onclick="slowScroll('#testimonials')">Відгуки</a></li>
      </ul>
      <div class="menu-mobile">
        <img id="btn" src="./img/icons8-меню-30.png" alt="">
      </div>
    </div>
  </nav>
</header>
<section id="about-info" class="bg-light py-3">
  <div class="container">
    <div class="info-left">
      <h1 class="l-heading"><span class="text-primary">Про</span> Power Massage</h1>
      <p><b>Масаж</b> - прекрасний спосіб розслабитися і зняти напругу. Сучасний темп життя не залишає часу на
        повноцінний відпочинок. У результаті навіть найздоровіші люди отримують букет хвороб. Іноді вони зовсім не
        звертають уваги на перші «дзвіночки». Для багатьох повсякденним явищем стали підвищена стомлюваність,
        безсоння, головний біль і дратівливість. </p>
      <p> Але ж здоров'я не безмежне, тому треба вміти вчасно зупинитися і подумати про себе. Найефективнішим рішенням
        буде масаж.</p>
      <p>У тебе біль не проходить? Потрібний комплексний підхід! Сила в руках, значний досвід та професія, те що приносить результат.</p>
    </div>
    <div class="info-right">
      <img src="./img/PowerMassageTherapy.jpg" alt="Massage">
    </div>
  </div>
</section>

<div class="clr"></div>

<section id="home-info" class="bg-dark-other">
  <div class="info-img"></div>
  <div class="info-content">
    <h2>У <span class="text-primary">Power massage</span> ви знайдете для себе наступні види масажу</h2>
    <p><b><span class="text-primary">Гавайський масаж "Ломі-Ломі Нуї"</span></b> — у процесі масажу відбувається повне відновлення організму на фізичному та психоемоційному рівнях, поліпшується кровообіг, відновлюється рухливість
      суглобів, розслабляються м'язи.
      <br><b><span class="text-primary">Ручний антицелюлітний масаж</span></b>  ця процедура допоможе
      Вам не тільки позбутись зайвих сантиметрів, але й покращити стан шкіри та вивести токсини з організму.
      <br><b><span class="text-primary">Вакуумний масаж</span></b> це лікувальна процедура, яка заснована на активному впливі вакууму на тіло, що створюється за допомогою спеціального апарату. У місцях присоски на шкірі посилюється кровообіг у тканинах, проводиться їх активне живлення та покращується лімфообіг.
      <br><b><span class="text-primary">Масаж спини</span></b> цей масаж допомагає поліпшити місцевий кровообіг і мікроциркуляцію, лімфодренаж, зняти біль, підвищити пружність шкіри та покращити живлення м'язів спини.
      <br><b><span class="text-primary">Масаж усього тіла</span></b> такий масаж, виконаний руками професіонала, сприяє відновленню м'язового тонусу, допомагає вирішити чимало проблем з хребтом, поліпшує кровообіг та забезпечує нормальне функціонування людського організму.
    </p>
  </div>
</section>

<div class="clr"></div>

<div id="slider-photo">
  <div class="flex-wrapper">
    <div class="slider-wrapper">
      <div class="slide active">
        <img src="./img/img_1.jpg" alt="">
      </div>
      <div class="slide">
        <img src="./img/img_2.jpg" alt="">
      </div>
      <div id="btn-prev"></div>
      <div id="btn-next"></div>
    </div>
  </div>
  <div class="dots-wrapper">
    <span class="dot active"></span>
    <span class="dot"></span>
  </div>
  <script src="slider.js"></script>
</div>

<section id="contact-info" class="bg-dark">
  <div class="container">
    <div class="box">
      <i class="far fa-building fa-3x"></i>
      <h3>Місцерозташування</h3>
      <p>Вул. Шашкевича 11 Krokus Hall, Тернопіль</p>
    </div>
    <div class="box">
      <i class="fas fa-phone fa-3x"></i>
      <h3>Номер телефону</h3>
      <p>067-27-17-936</p>
    </div>
    <div class="box">
      <a target="_blank" href="https://account.eserviabeauty.com/widget/395369">
        <i class="fas fa-envelope fa-3x"></i>
        <h3>Онлайн бронювання</h3>
        <p>Забронюй час</p>
      </a>
    </div>
  </div>
</section>

<div class="clr"></div>

<section id="testimonials" class="py-3">
  <div class="container">
    <h2 class="l-heading">Відгуки</h2>
    <div class="testimonial bg-primary">
      <img src="./img/person-1.jpg" alt="Samantha">
      <p class="indent"> Після масажу в мене залишились тільки найкращі враження, по всім пунктам. Мене привітно зустріли, кабінет
        затишний та охайний, комфортна температура. Масаж професійний, майстер Тарас ретельно пропрацьовує кожен м'яз,
        дуже уважний до тіла. Масажні рухи не одноманітні. Приємна атмосфера, все чисто і стерильно.</p>
    </div>

    <div class="testimonial bg-primary">
      <img src="./img/person-2.jpg" alt="Jen">
      <p class="indent">Проходжу в Тараса курс масажу шиї та спини. Дякую за чудові результати. Масаж знімає блоки та спазми, Тарас
        допомагає зрозуміти і пропрацювати тригерні точки, що призвели до затисків у тілі, і відчуває проблемні місця.
        Після масажу були надзвичайно приємні відчуття. Звертатимусь ще!</p>
    </div>
    <div id="example">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item testimonial bg-primary-1"><a href="/all" class="rk-menu__link">Всі відгуки</a></span>
        </li>

        <li class="rk-menu__item testimonial bg-primary-1"><a href="/add" class="rk-menu__link">Залиш відгук</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="clr"></div>


<footer>
  <div>
    <a target="_blank" href="https://www.facebook.com/taras.symchuk" class="fa fa-facebook-square"></a>
    <a target="_blank" href="https://www.instagram.com/powermassagetherapy/" class="fa fa-instagram"></a>
    <a target="_blank" href="https://t.me/taras_symchuk" class="fa fa-telegram"></a>
  </div>
  <div>
    <p>Power Massage &copy; 2022</p>
  </div>
</footer>

<!-- menu mobile -->
<div id="mob-menu">
  <div class="content-menu">
    <span id="close">X</і></span>
        <p class="size"><a href="#" onclick="slowScroll('#home-info')">Масажі</a></p>
      <p class="size"><a href="#" onclick="slowScroll('#slider-photo')">Галарея</a></p>
      <p class="size"><a href="#" onclick="slowScroll('#contact-info')">Контакти</a></p>
      <p class="size"><a href="#" onclick="slowScroll('#testimonials')">Відгуки</a></p>
  </div>
</div>

<div class="scrollup">
  <i class="fa fa-chevron-up"></i>
</div>

<script>
  let btn = document.querySelector('#btn');

  let close = document.querySelector('#close');
  let me = document.getElementById('mob-menu');

  btn.onclick = function () {
    me.style.width = '80%';
  }
  close.onclick = function () {
    me.style.width = '0%';
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  //для прокрутки при переході між різними блоками
  function slowScroll(id) {
    $('html, body').animate({
      scrollTop: $(id).offset().top
    }, 500);
  }
  $(document).on("scroll", function () {
    if ($(window).scrollTop() === 0)
      $("header").removeClass("fixed");
    else
      $("header").attr("class", "fixed");
  });

  $(window).scroll(function () {
    var sticky = $('#sticky'),
            scroll = $(window).scrollTop();

    if (scroll >= 100) sticky.addClass('fixed');
    else sticky.removeClass('fixed');
  });

  //для прокрутки до верху
  $(function() {
    $('.scrollup').click(function() {
      $("html, body").animate({
        scrollTop:0
      },1000);
    })
  })
  $(window).scroll(function() {
    if ($(this).scrollTop()>200) {
      $('.scrollup').fadeIn();
    }
    else {
      $('.scrollup').fadeOut();
    }
  });
</script>
</body>

</html>